

services:
  registry:
    build:
      context: .
      dockerfile: registry/Dockerfile
    container_name: registry
    ports:
      - "9000:9000"

  service1:
    build:
      context: .
      dockerfile: service/Dockerfile
    container_name: service1
    environment:
      - SERVICE_NAME=S1
      - SERVICE_HOST=service1
    command: ["./service", "8001", "3"]
    depends_on:
      - registry
    volumes:
      - shared-state:/app/state

  service2:
    build:
      context: .
      dockerfile: service/Dockerfile
    container_name: service2
    environment:
      - SERVICE_NAME=S1
      - SERVICE_HOST=service2
    command: ["./service", "8002", "1"]
    depends_on:
      - registry
    volumes:
      - shared-state:/app/state

  client1:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: client1
    depends_on:
      - registry
      - service1
      - service2
    command: ["./client", "weighted"]

  client2:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: client2
    depends_on:
      - registry
      - service1
      - service2
    command: ["./client", "random"]

  client3:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: client3
    depends_on:
      - registry
      - service1
      - service2
    command: ["./client", "rr"]

volumes:
  shared-state: